.body{
    background: url("../images/background.jpg");
}

.character{
    float:left;
    text-align:center;
    padding:5px;
    box-sizing: content-box;
    border:4px solid blue;
}

.ennemyTable{
    clear:both;
}